.buttonBlue{
    -fx-text-fill: #ffffff;
    -fx-background-color:  #3580C2;
    -fx-background-radius:  35px;
}
.buttonBlue:hover{
    -fx-text-fill: #3580C2;
    -fx-background-color:  #ffffff;
}
.buttonBlue:pressed{
    -fx-text-fill: #ffffff;
    -fx-background-color:  #3580C2;
}